.bg-grad-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#3AACFF), to(#001981));
  background: linear-gradient(#3AACFF, #001981);
}

.homepage {
  position: relative;
}

.homepage .slide-home {
  max-height: 200px;
}

@media screen and (min-width: 640px) {
  .homepage .slide-home {
    max-height: 280px;
  }
}

@media screen and (min-width: 768px) {
  .homepage .slide-home {
    max-height: 320px;
  }
}

@media screen and (min-width: 1024px) {
  .homepage .slide-home {
    max-height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .slide-home {
    max-height: 600px;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home {
    max-height: 800px;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .slide-home .swiper-wrapper .swiper-slide figure img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 400px;
}

@media screen and (min-width: 1280px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide figure img {
    max-width: 1900px;
    max-height: 800px;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide .title-slide {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 150px;
  height: 4em;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .title-slide {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .title-slide {
    width: 200px;
    height: 8em;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .title-slide {
    left: 0%;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide .title-slide h2 {
  font-size: 1.2em;
}

@media screen and (min-width: 1280px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .title-slide h2 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .title-slide h2 {
    font-size: 2.4em;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide .txt1 {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 200px;
  height: 8em;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .txt1 {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .txt1 {
    right: 25%;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide .txt1 p:first-child {
  font-weight: 500;
  margin-bottom: .25em;
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .txt1 p:first-child {
    font-size: 1.4em;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide .txt1 p:last-child {
  font-size: .8em;
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .txt1 p:last-child {
    font-size: 1em;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide .txt2 {
  position: absolute;
  top: 5%;
  right: 6%;
  width: 200px;
  height: 8em;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .txt2 {
    display: none;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .txt2 {
    right: 10%;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide .txt2 p:first-child {
  font-weight: 500;
  margin-bottom: .25em;
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .txt2 p:first-child {
    font-size: 1.4em;
  }
}

.homepage .slide-home .swiper-wrapper .swiper-slide .txt2 p:last-child {
  font-size: .8em;
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .swiper-wrapper .swiper-slide .txt2 p:last-child {
    font-size: 1em;
  }
}

.homepage .slide-home .swiper-button-next {
  color: #000000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 65%;
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .swiper-button-next {
    top: 60%;
  }
}

.homepage .slide-home .swiper-button-next:after {
  font-size: 1.4em;
}

.homepage .slide-home .swiper-button-prev {
  color: #000000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 10px;
  left: unset;
}

.homepage .slide-home .swiper-button-prev:after {
  font-size: 1.4em;
}

.homepage .slide-home .pagi {
  position: absolute;
  top: 25%;
  right: 1%;
}

.homepage .slide-home .pagi .current {
  font-size: 1.4em;
  font-weight: 600;
  color: #FFD965;
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .pagi .current {
    font-size: 2.2em;
  }
}

.homepage .slide-home .pagi .total {
  font-size: .8em;
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .pagi .total {
    font-size: 1.2em;
  }
}

.homepage .slide-home .social {
  position: absolute;
  bottom: 10%;
  right: 1%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .homepage .slide-home .social {
    display: none;
  }
}

.homepage .slide-home .social .list {
  margin: 0 .5em;
}

.homepage .slide-home .social .list a img {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 1536px) {
  .homepage .slide-home .social .list a img {
    width: 20px;
    height: 20px;
  }
}

.homepage .service {
  margin: 2em 0;
}

.homepage .service .slide-service {
  max-height: 400px;
  padding: .5em 4em;
}

.homepage .service .slide-service .swiper-wrapper .swiper-slide {
  text-align: center;
}

@media (hover: hover) {
  .homepage .service .slide-service .swiper-wrapper .swiper-slide:hover {
    color: #2792E0;
  }
  .homepage .service .slide-service .swiper-wrapper .swiper-slide:hover .button button {
    border: 1px solid #FFD965;
    background-color: #FFD965;
    color: #000000;
  }
}

.homepage .service .slide-service .swiper-wrapper .swiper-slide figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .service .slide-service .swiper-wrapper .swiper-slide figure img {
  width: 200px;
  height: 200px;
}

.homepage .service .slide-service .swiper-wrapper .swiper-slide .detail {
  margin: 1em 0;
}

.homepage .service .slide-service .swiper-wrapper .swiper-slide .detail p {
  margin: .5em 0;
}

.homepage .service .slide-service .swiper-wrapper .swiper-slide .button button {
  background-color: #000000;
  color: #fff;
}

.homepage .service .slide-service .swiper-button-next:before {
  content: 'Next';
  color: #FFD965;
}

.homepage .service .slide-service .swiper-button-next:after {
  font-size: 2em;
  color: #FFD965;
}

.homepage .service .slide-service .swiper-button-prev:before {
  content: 'Prev';
  color: #FFD965;
  position: absolute;
  left: 1.5em;
}

.homepage .service .slide-service .swiper-button-prev:after {
  font-size: 2em;
  color: #FFD965;
}

.homepage .video {
  background-color: #2792E0;
  padding: 4em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .homepage .video {
    padding: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .video {
    padding: 2em 4em;
  }
}

.homepage .video .left {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .homepage .video .left {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .video .left {
    width: 60%;
  }
}

.homepage .video .left .content-zone {
  position: relative;
}

.homepage .video .left .content-zone h3 {
  color: #fff;
  font-size: 2em;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
}

.homepage .video .left .content-zone p {
  color: #fff;
  position: relative;
  z-index: 1;
}

.homepage .video .left .content-zone .bg {
  position: absolute;
  top: -10%;
  left: -3%;
  z-index: 0;
}

.homepage .video .left .review-zone {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .homepage .video .left .review-zone {
    margin-top: 5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .homepage .video .left .review-zone {
    margin-top: 2em;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .video .left .review-zone {
    margin-top: 5em;
  }
}

.homepage .video .left .review-zone .box-review {
  margin: 0 3em;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 3px solid #fff;
}

@media screen and (min-width: 768px) {
  .homepage .video .left .review-zone .box-review {
    margin: 0 2em;
    border-right: 3px solid #fff;
    border-bottom: unset;
    padding: 0;
    padding-right: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .homepage .video .left .review-zone .box-review {
    margin: 0 1em;
    padding-right: 1em;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .video .left .review-zone .box-review {
    margin: 0 2em;
    padding-right: 4em;
  }
}

.homepage .video .left .review-zone .box-review:last-child {
  border: unset;
}

.homepage .video .left .review-zone .box-review p:first-child {
  font-size: 3em;
  color: #fff;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .homepage .video .left .review-zone .box-review p:first-child {
    font-size: 2em;
  }
}

.homepage .video .left .review-zone .box-review p:last-child {
  font-size: 2.4em;
  color: #FFD965;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .homepage .video .left .review-zone .box-review p:last-child {
    font-size: 1.4em;
  }
}

.homepage .video .right {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .homepage .video .right {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .video .right {
    width: 40%;
  }
}

.homepage .video .right iframe {
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .homepage .video .right iframe {
    height: 400px;
  }
}
/*# sourceMappingURL=home.css.map */