@import "variable";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  background: $white;
  color: $black;
}

h1{font-size: 42px; font-weight: 700;}
h2{font-size: 40px; font-weight: 600;}
h3{font-size: 38px; font-weight: 600;}
h4{font-size: 35px; font-weight: 600;}
h5{font-size: 30px; font-weight: 400;}
h6{font-size: 25px; font-weight: 400;}

p,label,span{
  font-size: 1em;
  font-weight: 300;
}

select,button,input,textarea{
  &:focus{
    outline: none;
  }
}

/////////////////////////////////////////////////////////////////
//@ class re-use
/////////////////////////////////////////////////////////////////

.form-component{
  &.input{
    width: 100%;
    height: 35px;
    border: 1px solid #707070;
    border-radius: 18px;
    background: $white;
    padding: 5px 40px 5px 15px;

    &.bd-blue{
      border: 1px solid #2792E0;
    }
  }

  &.button{
    width: max-content;
    height: 35px;
    border-radius: 18px;
    border: 1px solid #707070;
    padding: 5px 15px;
    transition: .3s;

    @media (hover:hover){
      &:hover{
        background: #707070;
        color: $text-w;
        transition: .3s;
      }
    }

    &.btn-warning{
      border: 1px solid #FFB92C;
      background: #FFB92C;
      color: $text-b;

      @media (hover:hover){
        &:hover{
          background: $white;
          color: #FFB92C;
          transition: .3s;
        }
      }
    }
    &.btn-primary{
      border: 1px solid #2792E0;
      background: #2792E0;
      color: $text-w;

      @media (hover:hover){
        &:hover{
          background: $white;
          color: #2792E0;
          transition: .3s;
        }
      }
    }
    &.btn-black{
      border: 1px solid #000;
      background: #000;
      color: $text-w;

      @media (hover:hover){
        &:hover{
          background: $white;
          color: $text-b;
          transition: .3s;
        }
      }
    }
  }
}

.nav-menu-active{
  background: $yellow;

  a{
    color: $text-b!important;
  }
}

/////////////////////////////////////////////////////////////////
//@ class normal
/////////////////////////////////////////////////////////////////

.header{
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width:$lg){
    height: 128px;
  }

  .logo{
    width: 125px;

    @media screen and (min-width:$lg){
      width: 200px;
    }
    @media screen and (min-width:$xl){
      margin-left: 6em;

      img{
        width: 163px;
        height: 88px;
      }
    }
  }

  nav{
    width: 100%;

    @media screen and (max-width:($lg)-1px){
      background: $blue;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -6px;
        height: 100%;
        width: 20px;
        background: $white;
        transform: skewX(-10deg);
        border-radius: 0 8px 3px 0;
      }
    }

    @media screen and (min-width:$lg){
      padding-left: 8px;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: -6px;
        height: 100%;
        width: 20px;
        background: $white;
        transform: skewX(-10deg);
        border-radius: 0 8px 3px 0;
      }
    }
    @media screen and (min-width:$xl){
      padding-left: 20px;
      z-index: 6;

      &:before{
        left: 5px;
        width: 30px;
      }
    }

    .menu-nav{
      @media screen and (max-width:($lg)-1px){
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        z-index: 3;
        text-align: center;
        transition: .5s;
        overflow-y: auto;

        &.show{
          left: 0;
          transition: .5s;
        }
      }

      @media screen and (min-width:$lg){
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .top-menu{
        background: $blue;
  
        @media screen and (max-width:($lg)-1px){
          li{
            padding: 1em 0;
            position: relative;

            @media screen and (min-width:$md){
              padding: 1.3em 0;
            }
  
            a{
              color: $text-w;

              @media screen and (min-width:$md) and (max-width:($xl)-1px){
                font-size: 1.2em;
              }

              &.active{
                border-bottom: 2px solid $red;
              }
            }

            .submenu{
              position: absolute;
              left: 0;
              top: 100%;
              width: 100%;
              height: max-content;
              background: $green;
              z-index: 4;
              display: none;
              grid-template-columns: 100%;

              &.show{
                display: grid;
              }

              .list-menu{
                margin-top: 1em;
                border-bottom: 2px solid $red;

                p{
                  color: $text-w;
                  margin-bottom: .25em;
                  font-weight: 700;
                  font-size: 1.2em;
                  text-decoration: underline;
                }
              }
            }
          }
  
          .assismenu{
            display: flex;
            justify-content: center;
            align-items: flex-start;

            @media screen and (max-width:($md)-1px){
              display: none;
            }
            @media screen and (min-width:($md)){
              display: none;
            }
  
            .signin{
              margin-right: 15px;
              border-right: 1px solid $darkblue;
              padding-right: 15px;
  
              a{
                span{
                  margin-left: 5px;
                  color: $text-w;
                }
              }
            }
  
            .lang{
              margin-right: 15px;
              border-right: 1px solid $darkblue;
              padding-right: 15px;
  
              span{
                margin-left: 5px;
                color: $text-w;
              }
  
              .list-lang{
                display: none;
                top: 100%;
                left: 0;
                width: 100%;
                height: max-content;
                background: $darkblue;
  
                &.show{
                  display: block;
                }
              }
            }
  
            .contact{
              .button-contact{
                display: none;
              }
  
              .text-contact{
                color: $text-w;
                text-align: left;
              }
            }
          }
        }

        @media screen and (min-width:$lg){
          display: flex;
          height: 50%;
          justify-content: center;
          align-items: center;

          li{
            margin: 0 .5em;

            @media screen and (min-width:$xl){
              margin: 0 .8em;
            }

            &.nav-menu-active{
              padding: 0 5px;
              border-radius: 10px;
            }

            a{
              color: $text-w;
            }

            .submenu{
              display: none;
            }
          }

          .assismenu{
            margin: 0 .5em;
            display: flex;

            .signin{
              span{
                margin-left: 3px;
                color: $text-w;
              }
            }

            .lang{
              margin: 0 1em;

              span{
                margin-left: 3px;
                color: $text-w;
              }

              .list-lang{
                display: none;
                top: 248%;
                left: 0;
                background: $blue;

                &.show{
                  display: block;
                }
              }
            }

            .contact{
              align-self: center;
              position: relative;

              .button-contact{
                display: flex;
                background: $white;
                padding: 5px;
                border-radius: 5px;

                .phone{
                  margin: 0 2px;
                }

                .line{
                  margin: 0 2px;
                }

                .border{
                  border-right: 1px solid $black;
                }
              }

              .text-contact{
                position: absolute;
                left: -160px;
                top: 248%;
                width: max-content;
                padding: .5em 1em;
                display: none;
                
                &.show{
                  display: block;
                  transition: .3s;
                }
      
                &:before{
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background: #007dd8;
                  transform: skewX(-10deg);
                  z-index: -1;
                }
      
                .phone{
                  span{
                    color: $text-w;
                  }
                }
              }
            }
          }
        }
        @media screen and (min-width:$xl){
          padding-left: 2em;
          justify-content: unset;

          .other{
            .hamburger{
              cursor: pointer;

              .line{
                width: 25px;
                height: 4px;
                background: $white;
                margin: 5px 0;
              }
            }

            ul{
              display: none;
            }
          }
        }
      }

      .bottom-menu{
        background: $darkblue;

        @media screen and (max-width:($lg)-1px){
          li{
            padding: 1em 0;
            position: relative;

            @media screen and (min-width:$md){
              padding: 1.3em 0;
            }

            a{
              color: $text-w;

              @media screen and (min-width:$md) and (max-width:($xl)-1px){
                font-size: 1.2em;
              }

              &.active{
                border-bottom: 2px solid $red;
              }
            }

            .submenu{
              position: absolute;
              left: 0;
              top: 100%;
              width: 100%;
              height: max-content;
              background: $green;
              z-index: 4;
              display: none;
              grid-template-columns: 100%;

              &.show{
                display: grid;
              }

              .list-menu{
                margin-top: 1em;
                border-bottom: 2px solid $red;

                p{
                  color: $text-w;
                  margin-bottom: .25em;
                  font-weight: 700;
                  font-size: 1.2em;
                  text-decoration: underline;
                }
              }
            }
          }
        }
        @media screen and (min-width:$lg){
          display: flex;
          height: 50%;
          justify-content: space-between;
          align-items: center;

          >li{
            margin: 0 .5em;

            @media screen and (min-width:$xl){
              margin: 0 1em;
              height: 100%;
              display: flex;
              align-items: center;
              position: relative;
            }

            a{
              color: $text-w;
              font-size: .8em;
            }

            .submenu{
              display: none;
            }
          }
        }
        @media screen and (min-width:$xl){
          padding-left: 2em;
          justify-content: flex-start;

          li{
            .submenu{
              display: grid;
              grid-template-columns: 100%;
              grid-column-gap: 2em;
              position: absolute;
              top: -1000%;
              left: 0;
              width: max-content;
              height: max-content;
              background: linear-gradient(#3AACFF,#001981);
              padding: 1em;
              z-index: -1;
            }
          }

          // สำหรับเครื่องคอม
          @media (hover:hover){
            li:hover{
              >a{
                color: $yellow;
              }

              .submenu{
                top: 100%;
                transition: .5s;

                &.column2{
                  grid-template-columns: repeat(2,1fr);
                }

                .list-menu{
                  p{
                    grid-column: 1/3;
                    color: $text-w;
                    font-size: 1.2em;
                    font-weight: 500;
                    margin-bottom: .5em;
                  }
                  li{
                    // ทำตัวขีดหน้า li
                    &:before{
                      content: attr(data-list);
                      margin-right: 3px;
                      color: $text-w;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .mobile-close{
        padding: 2em 0;
        background: $blue;
        display: flex;
        align-content: center;
        justify-content: center;

        @media screen and (min-width:$lg){
          display: none;
        }

        figure{
          border: 1px solid $white;
          border-radius: 50%;
          padding: .5em;
          cursor: pointer;

          img{
            width: 30px;
            height: 30px;
            filter: invert(1);
          }
        }
      }
    }

    .mobile-assismenu{
      top: 50%;
      transform: translateY(-50%);

      .signin,.lang{
        margin-right: 20px;

        span{
          color: $text-w;
          margin-left: 5px;
        }
      }
      .lang{
        cursor: pointer;

        .list-lang{
          background: #007dd8;
          padding: .25em 1em;
          display: none;
          top: 211%;

          @media screen and (min-width:$md){
            top: 181%;
          }

          &.show{
            display: block;
          }

          li{
            color: $text-w;
            margin: .75em 0;
          }
        }
      }
      .contact{
        position: relative;

        @media screen and (max-width:($md)-1px){
          display: none;
        }

        .button-contact{
          display: flex;
          width: 50px;
          height: 100%;
          justify-content: center;
          align-items: center;
          background: #fff;
          border-radius: 5px;
          padding: 5px 0;
          cursor: pointer;

          .border{
            margin: 0 5px;
            border-right: 1px solid #000;
            height: 100%;
          }
        }

        .text-contact{
          position: absolute;
          left: -20px;
          top: 181%;
          width: max-content;
          padding: .5em 1em;
          display: none;
          
          &.show{
            display: block;
            transition: .3s;
          }

          &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #007dd8;
            transform: skewX(-10deg);
            z-index: -1;
          }

          .phone{
            span{
              color: $text-w;
            }
          }
        }
      }
    }

    .mobile-menu{
      cursor: pointer;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      // @media screen and (min-width:$lg){
      //   display: none;
      // }

      .line{
        width: 30px;
        height: 3px;
        margin: 5px 0;
        background: $white;
      }
    }
  }
}

main{
  min-height: calc(100vh - 128px);
  margin-top: 128px;
}