// color
$blue: #2792E0;
$darkblue: #001981;
$yellow: #FFD965;
$gray: #BBBBBB;
$lightgray: #efefef;
$white: #fff;
$black: #000000;
$green: #0F966A;
$red: #E30D12;
$text-w: #fff;
$text-b: #000000;

// class
.bg-grad-blue{
  background: linear-gradient(#3AACFF,#001981);
}

// size display
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;