<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wynnsoft 2 Demo</title>

  <!-- plugin -->
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- style -->
  <link rel="stylesheet" href="/css/style.min.css?v=0.1.15">
  <link rel="stylesheet" href="/css/apply-job.min.css">
</head>
<body>
  <!-- ส่วนหัว -->
  <header>
    <div class="header container mx-auto flex">
      <div class="logo p-2 xl:p-0 xl:m-auto"><a href="/template/home.html"><img class="w-auto h-full" src="/img/logo/logo1.png" alt=""></a></div>
      <nav class="relative">
        <div class="menu-nav">
          <ul class="top-menu">
            <!-- li class = "nav-menu-active" เอาไว้สำหรับเมนูที่โดน active -->
            <li class="nav-menu-active"><a href="">หน้าแรก</a></li>
            <li>
              <a href="#" onclick="open_nav_submenu(this)">บริการ</a>
              <ul class="submenu">
                <div class="list-menu">
                  <p>บริการด้านเว็บไซต์</p>
                  <li data-list="-"><a href="">เว็บไซต์สำเร็จรูป</a></li>
                  <li data-list="-"><a href="">รับทำและออกแบบเว็บไซต์</a></li>
                  <li data-list="-"><a href="">รับทำ Web Application</a></li>
                  <li data-list="-"><a href="">รับทำ Mobile Application</a></li>
                  <li data-list="-"><a href="">รับลงข้อมูล Update Website</a></li>
                  <li data-list="-"><a href="">Admin ดูแลเพจและเว็บไซต์</a></li>
                </div>

                <div class="list-menu">
                  <p>รับสร้างและลงสินค้า</p>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Shopee</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Lazada</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Lnwshop</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Alibaba</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Amazon</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า eBay</a></li>
                </div>

                <div class="list-menu">
                  <p>รับทำการตลาดออนไลน์</p>
                  <li data-list="-"><a href="">รับทำเว็บไซต์ให้ติดการค้นหา (SEO)</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Facebook</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Instagram</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Tiktok</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Youtube</a></li>
                  <li data-list="-"><a href="">รับสร้างช่อง Youtube</a></li>
                  <li data-list="-"><a href="">รับทำ Google Adwords</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Timeline</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Google Adwords</a></li>
                  <li data-list="-"><a href="">รับทำ Google Adsends</a></li>
                </div>

                <div class="list-menu">
                  <p>GraphicDesign & VideoEditor</p>
                  <li data-list="-"><a href="">รับทำ Logo</a></li>
                  <li data-list="-"><a href="">รับทำ Banner โฆษณา</a></li>
                  <li data-list="-"><a href="">Label & Packaging</a></li>
                  <li data-list="-"><a href="">สื่อสิ่งพิมพ์ & นามบัตร</a></li>
                  <li data-list="-"><a href="">InfoGrapic</a></li>
                  <li data-list="-"><a href="">รับออกแบบอัตลักษณ์องค์กร</a></li>
                  <li data-list="-"><a href="">DieCut & Photoshop</a></li>
                  <li data-list="-"><a href="">PortFolio & Resume</a></li>
                </div>
              </ul>
            </li>
            <li><a href="">ผลงานของเรา</a></li>
            <li><a href="">การชำระเงิน</a></li>
            <li><a href="">ความรู้บทความ</a></li>
            <li><a href="">กิจกรรม</a></li>
            <li><a href="">ร่วมงานกับเรา</a></li>
            <li><a href="">ติดต่อเรา</a></li>
  
            <div class="assismenu">
              <div class="signin flex items-center">
                <a href="" class="flex">
                  <img class="icon" src="/img/icon/user-solid.svg" alt="">
                  <span>Sign In</span>
                </a>
              </div>
              <div class="lang flex items-center relative" onclick="open_lang(this)">
                <img class="icon" src="/img/icon/translate.svg" alt="">
                <span>En</span>
                <ul class="list-lang absolute xl:hidden">
                  <li><a href="">TH</a></li>
                  <li><a href="">EN</a></li>
                  <li><a href="">KH</a></li>
                  <li><a href="">CH</a></li>
                </ul>
              </div>
              <div class="contact" onclick="open_contact(this)">
                <div class="button-contact">
                  <div class="phone"><img src="/img/icon/mobile-alt-solid.svg" alt=""></div>
                  <div class="border"></div>
                  <div class="line"><img src="/img/icon/line.svg" alt=""></div>
                </div>
    
                <div class="text-contact">
                  <div class="phone">
                    <span>โทรศัพท์</span>
                    <span>043-002-300</span>
                  </div>
                  <div class="phone">
                    <span>เบอร์โทรฟรี</span>
                    <span>1800-010-169</span>
                  </div>
                  <div class="phone">
                    <span>มือถือ</span>
                    <span>062-909-1110</span>
                  </div>
                  <div class="phone">
                    <span>LineID</span>
                    <span>@wynnsoft-solution</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- แสดงเฉพาะ pc -->
            <li class="other hidden xl:block" onclick="open_other_menu(this)">
              <div class="hamburger"><div class="line"></div><div class="line"></div><div class="line"></div></div>
              <ul>
                <li><a href="">เงื่อนไขการใช้บริการ</a></li>
                <li><a href="">นโยบายความเป็นส่วนตัว</a></li>
              </ul>
            </li>
          </ul>
          <ul class="bottom-menu">
            <li><a href="">Web App By Wynnsoft</a></li>
            <li>
              <a href="#" onclick="open_nav_submenu(this)">เทมเพลตเว็บไซต์ & Packaging</a>
              <!-- หากมี list-menu มากกว่า 2 ให้เพิ่ม class: column2 เข้าไปที่ submenu -->
              <ul class="submenu column2">
                <div class="list-menu grid xl:grid-cols-2">
                  <p onclick="open_li(this)">เทมเพลตเว็บไซต์</p>
                  <li data-list="-"><a href="">ร้านค้าออนไลน์</a></li>
                  <li data-list="-"><a href="">โรงแรม รีสอร์ท</a></li>
                  <li data-list="-"><a href="">แฟชั่น เสื้อผ้า</a></li>
                  <li data-list="-"><a href="">เทคโนโลยี</a></li>
                  <li data-list="-"><a href="">คอฟฟี่ เบเกอรี่</a></li>
                  <li data-list="-"><a href="">ความงาม</a></li>
                  <li data-list="-"><a href="">ร้านอาหาร ภัตตาคาร</a></li>
                  <li data-list="-"><a href="">อสังหาริมทรัพย์ บ้าน ที่ดิน คอนโด</a></li>
                  <li data-list="-"><a href="">หน่วยงานราชการ</a></li>
                  <li data-list="-"><a href="">โรงเรียน การศึกษา กวดวิชา</a></li>
                  <li data-list="-"><a href="">เด็ก</a></li>
                  <li data-list="-"><a href="">สวนสนุก กิจกรรม</a></li>
                  <li data-list="-"><a href="">การท่องเที่ยว</a></li>
                  <li data-list="-"><a href="">รถยนต์ & มอเตอร์ไซค์</a></li>
                  <li data-list="-"><a href="">บริการต่างๆ</a></li>
                  <li data-list="-"><a href="">บ้าน ของตกแต่ง ดอกไม้</a></li>
                  <li data-list="-"><a href="">บริการ</a></li>
                  <li data-list="-"><a href="">อื่นๆ</a></li>
                </div>

                <div class="list-menu flex flex-col">
                  <p onclick="open_li(this)">Label & Packing</p>
                  <li data-list="-"><a href="">ประเภทขวด</a></li>
                  <li data-list="-"><a href="">ประเภทขวดแก้ว</a></li>
                  <li data-list="-"><a href="">ประเภทขวดพลาสติก</a></li>
                  <li data-list="-"><a href="">ประเภทกระป๋อง</a></li>
                  <li data-list="-"><a href="">ประเภทกล่อง</a></li>
                  <li data-list="-"><a href="">ป้ายแผ่นผนึก (Label)</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#" onclick="open_nav_submenu(this)">บริการด้านเว็บไซต์</a>
              <ul class="submenu">
                <div class="list-menu">
                  <p>บริการด้านเว็บไซต์</p>
                  <li data-list="-"><a href="">เว็บไซต์สำเร็จรูป</a></li>
                  <li data-list="-"><a href="">รับทำและออกแบบเว็บไซต์</a></li>
                  <li data-list="-"><a href="">รับทำ Web Application</a></li>
                  <li data-list="-"><a href="">รับทำ Mobile Application</a></li>
                  <li data-list="-"><a href="">รับลงข้อมูล Update Website</a></li>
                  <li data-list="-"><a href="">Admin ดูแลเพจและเว็บไซต์</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#" onclick="open_nav_submenu(this)">รับสร้างและลงสินค้า</a>
              <ul class="submenu">
                <div class="list-menu">
                  <p>รับสร้างและลงสินค้า</p>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Shopee</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Lazada</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Lnwshop</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Alibaba</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า Amazon</a></li>
                  <li data-list="-"><a href="">รับสร้างและลงสินค้า eBay</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#" onclick="open_nav_submenu(this)">รับทำการตลาดออนไลน์</a>
              <ul class="submenu">
                <div class="list-menu">
                  <p>รับทำการตลาดออนไลน์</p>
                  <li data-list="-"><a href="">รับทำเว็บไซต์ให้ติดการค้นหา (SEO)</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Facebook</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Instagram</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Tiktok</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Youtube</a></li>
                  <li data-list="-"><a href="">รับสร้างช่อง Youtube</a></li>
                  <li data-list="-"><a href="">รับทำ Google Adwords</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Timeline</a></li>
                  <li data-list="-"><a href="">รับทำโฆษณา Google Adwords</a></li>
                  <li data-list="-"><a href="">รับทำ Google Adsends</a></li>
                </div>
              </ul>
            </li>
            <li>
              <a href="#" onclick="open_nav_submenu(this)">GraphicDesign & VideoEditor</a>
              <ul class="submenu">
                <div class="list-menu">
                  <p>GraphicDesign & VideoEditor</p>
                  <li data-list="-"><a href="">รับทำ Logo</a></li>
                  <li data-list="-"><a href="">รับทำ Banner โฆษณา</a></li>
                  <li data-list="-"><a href="">Label & Packaging</a></li>
                  <li data-list="-"><a href="">สื่อสิ่งพิมพ์ & นามบัตร</a></li>
                  <li data-list="-"><a href="">InfoGrapic</a></li>
                  <li data-list="-"><a href="">รับออกแบบอัตลักษณ์องค์กร</a></li>
                  <li data-list="-"><a href="">DieCut & Photoshop</a></li>
                  <li data-list="-"><a href="">PortFolio & Resume</a></li>
                </div>
              </ul>
            </li>
          </ul>
          <div class="mobile-close"><figure onclick="close_mobile_menu()"><img src="/img/icon/arrow-point-to-right.svg" alt=""></figure></div>
        </div>
        <div class="mobile-assismenu absolute flex right-12 md:right-40 lg:hidden">
          <div class="signin flex items-center">
            <a href="" class="flex">
              <img class="icon" src="/img/icon/user-solid.svg" alt="">
              <span>Sign In</span>
            </a>
          </div>
          <div class="lang flex items-center relative" onclick="open_assis_lang(this)">
            <img class="icon" src="/img/icon/translate.svg" alt="">
            <span>En</span>
            <ul class="list-lang absolute xl:hidden">
              <li><a href="">TH</a></li>
              <li><a href="">EN</a></li>
              <li><a href="">KH</a></li>
              <li><a href="">CH</a></li>
            </ul>
          </div>
          <div class="contact" onclick="open_assis_contact(this)">
            <div class="button-contact">
              <div class="phone"><img src="/img/icon/mobile-alt-solid.svg" alt=""></div>
              <div class="border"></div>
              <div class="line"><img src="/img/icon/line.svg" alt=""></div>
            </div>

            <div class="text-contact">
              <div class="phone">
                <span>โทรศัพท์</span>
                <span>043-002-300</span>
              </div>
              <div class="phone">
                <span>เบอร์โทรฟรี</span>
                <span>1800-010-169</span>
              </div>
              <div class="phone">
                <span>มือถือ</span>
                <span>062-909-1110</span>
              </div>
              <div class="phone">
                <span>LineID</span>
                <span>@wynnsoft-solution</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-menu absolute lg:hidden" onclick="open_mobile_menu()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </div>
    <div class="bg-head">
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
  </header>

  <!-- ส่วนเนื้อหา -->
  <main>
    <div class="job-detail">
        <div class="head-job">
          <div class="logo"><img src="/img/logo/logo-solution-05.png" alt=""></div>

          <div class="position">
            <h1>Lead Charator Concept Artist</h1>
          </div>

          <div class="address">
            <span><i class="fas fa-map-marker-alt"></i> Khon Kaen / Thailand</span>
          </div>

          <div class="social">
            <a href=""><img src="/img/twitter-17.png" alt=""></a>
            <a href=""><img src="/img/face-18.png" alt=""></a>
          </div>

          <div class="button-apply"><button class="form-component button btn-warning">สมัครงาน</button></div>

          <div class="bg"><img src="/img/Group-605.jpg" alt=""></div>
        </div>

        <div class="detail-zone container mx-auto">
          <div class="detail">
            <div class="head-content"><h2>รายละเอียดงาน</h2></div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Aliquid, hic necessitatibus modi eius vel perspiciatis sunt soluta consequatur itaque in architecto magnam optio nisi impedit ipsum, earum iure ducimus eveniet!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Earum placeat expedita quibusdam perspiciatis accusamus, eligendi sed laudantium tempore, exercitationem officia dolores inventore provident nulla. Magni architecto est reiciendis quasi impedit!
            </p>
          </div>

          <div class="skill">
            <div class="head-content"><h2>ทักษะและความต้องการ</h2></div>

            <div class="list">
              <p>หน้าที่รับผิดชอบ / Responsibilities :</p>
              <ul>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
              </ul>
            </div>
           
            <div class="list">
              <p>ทักษะที่จำเป็น / Required Skills :</p>
              <ul>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
              </ul>
            </div>
            
            <div class="list">
              <p>ทักษะที่ต้องการ / Desired Skills :</p>
              <ul>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
                <li>LoremLoremLorem LoremLoremLorem Lorem</li>
              </ul>
            </div>
          </div>

          <div class="welfare">
            <div class="head-content"><h2>สวัสดิการ</h2></div>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempore quod laboriosam, soluta autem neque odit omnis dicta rem a at, magni enim nobis ipsam ea, explicabo temporibus sit architecto!
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis aliquid placeat aspernatur architecto consequuntur pariatur itaque corrupti nostrum, commodi eveniet! Nesciunt excepturi ab exercitationem? Exercitationem quaerat ipsa perferendis aut ipsam?
            </p>
          </div>

          <div class="more-detail">
            <div class="head-content"><h2>ข้อมูลเพิ่มเติม</h2></div>

            <ul>
              <li><i class="fas fa-plane"></i> Relocation assistance</li>
              <li><i class="fas fa-signal"></i> Work Remotely</li>
            </ul>
          </div>
        </div>

        <div class="map container mx-auto">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15303.806704384895!2d102.83998044999998!3d16.477984400000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56b4538d2ace7037!2sWYNNSOFT%20SOLUTION%20CO%2CLTD.!5e0!3m2!1sth!2sth!4v1621568728310!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

    <div class="job-list">
      <div class="box-all container mx-auto">
        <div class="head-content"><h2>ตำแหน่งที่เปิดรับ</h2></div>
        <div class="list">
          <div class="name-sector">
            <p>website design</p>
            <p>2 ตำแหน่ง</p>
          </div>
          <ul>
            <li><a href="">ออกแบบเว็บ 1</a></li>
            <li><a href="">ออกแบบเว็บ 2</a></li>
          </ul>
        </div>

        <div class="list">
          <div class="name-sector">
            <p>engineer</p>
            <p>3 ตำแหน่ง</p>
          </div>
          <ul>
            <li><a href="">Backend Dev 1</a></li>
            <li><a href="">Backend Dev 2</a></li>
            <li><a href="">Backend Dev 3</a></li>
          </ul>
        </div>

        <div class="list">
          <div class="name-sector">
            <p>engineer</p>
            <p>3 ตำแหน่ง</p>
          </div>
          <ul>
            <li><a href="">Backend Dev 1</a></li>
            <li><a href="">Backend Dev 2</a></li>
            <li><a href="">Backend Dev 3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer>
    <div class="nav-footer container mx-auto">
      <div class="grid-menu-footer grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-x-28">
        <div class="box grid gap-y-2">
          <figure><img src="/img/logo/logo1.png" alt=""></figure>
          <div class="address">
            Wynnsoft Solution, Ltd. 120/34-35 หมู่ 24
            ตำบลศิล อำเภอเมืองขอนแก่น จังหวัดขอนแก่น
            40000
          </div>
          <div class="address">
            Wynnsoft Solution, Ltd. 120/34-35 หมู่ 24
            ตำบลศิล อำเภอเมืองขอนแก่น จังหวัดขอนแก่น
            40000
          </div>
        </div>

        <div class="box grid gap-y-5">
          <div class="list">
            <p onclick="mobile_open_menu_footer(this)">บริการด้านเว็บไซต์</p>
            <ul>
              <li data-list="-"><a href="">เว็บไซต์สำเร็จรูป</a></li>
              <li data-list="-"><a href="">เว็บไซต์หลายภาษา</a></li>
              <li data-list="-"><a href="">รับทำและออกแบบเว็บไซต์</a></li>
              <li data-list="-"><a href="">รับทำ Web Application</a></li>
              <li data-list="-"><a href="">รับทำ Mobile Application</a></li>
              <li data-list="-"><a href="">รับลงข้อมูล Update Website</a></li>
              <li data-list="-"><a href="">Admin ดูแลเพจและเว็บไซต์</a></li>
            </ul>
          </div>

          <div class="list">
            <p onclick="mobile_open_menu_footer(this)">บริการด้านการตลาดออนไลน์</p>
            <ul>
              <li data-list="-"><a href="">ทำเว็บไซต์ให้ติดการค้นหา SEO</a></li>
              <li data-list="-"><a href="">รับทำโฆษณา Facebook</a></li>
              <li data-list="-"><a href="">รับทำโฆษณา Tiktok</a></li>
              <li data-list="-"><a href="">รับทำโฆษณา Youtube</a></li>
              <li data-list="-"><a href="">รับทำ google adword</a></li>
              <li data-list="-"><a href="">รับทำโฆษณา Timeline</a></li>
              <li data-list="-"><a href="">รับทำ google adsends</a></li>
            </ul>
          </div>
        </div>

        <div class="box grid gap-y-5">
          <div class="list">
            <p onclick="mobile_open_menu_footer(this)">Graphic Design & Video Editor</p>
            <ul>
              <li data-list="-"><a href="">รับทำ Logo</a></li>
              <li data-list="-"><a href="">รับทำ Banner</a></li>
              <li data-list="-"><a href="">label & packaging</a></li>
              <li data-list="-"><a href="">สื่อสิ่งพิมพ์ & นามบัตร</a></li>
              <li data-list="-"><a href="">InfoGrapic</a></li>
              <li data-list="-"><a href="">รับออกแบบอัตลักษณ์องค์กร</a></li>
              <li data-list="-"><a href="">diecut & photoshop</a></li>
              <li data-list="-"><a href="">protfolio & resume</a></li>
              <li data-list="-"><a href="">ใบปลิวแผ่นพับ</a></li>
              <li data-list="-"><a href="">วาดแผนที่</a></li>
              <li data-list="-"><a href="">รับทำและออกแบบสติกเกอร์ไลน์</a></li>
              <li data-list="-"><a href="">รับถ่ายตัดต่อ video</a></li>
              <li data-list="-"><a href="">รับทำ video present</a></li>
            </ul>
          </div>
        </div>

        <div class="box grid gap-y-5">
          <div class="list">
            <p onclick="mobile_open_menu_footer(this)">รับสร้างและลงสินค้า</p>
            <ul>
              <li data-list="-"><a href="">รับสร้างและลงสินค้า Shopee</a></li>
              <li data-list="-"><a href="">รับสร้างและลงสินค้า Lazada</a></li>
              <li data-list="-"><a href="">รับทำและออกแบบเว็บไซต์</a></li>
              <li data-list="-"><a href="">รับสร้างและลงสินค้า Lnwshop</a></li>
              <li data-list="-"><a href="">รับสร้างและลงสินค้า Alibaba</a></li>
              <li data-list="-"><a href="">รับสร้างและลงสินค้า Amazon</a></li>
              <li data-list="-"><a href="">รับสร้างและลงสินค้า eBay</a></li>
            </ul>
          </div>

          <div class="list">
            <p onclick="mobile_open_menu_footer(this)">ติดตามเราได้ที่</p>
            <ul>
              <li data-list="-"><a href=""><img src="/img/icon/youtube-brands.svg" alt=""> youtube</a></li>
              <li data-list="-"><a href=""><img src="/img/icon/sosial-03.svg" alt=""> facebook</a></li>
              <li data-list="-"><a href=""><img src="/img/icon/sosial-04.svg" alt=""> twitter</a></li>
              <li data-list="-"><a href=""><img src="/img/icon/sosial-02.svg" alt=""> instagram</a></li>
              <li data-list="-"><a href=""><img src="/img/icon/line.svg" alt=""> line</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>&copy; 2022 <a href="https://www.wynnsoft-solution.com/">wynnsoft-solution</a></p>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/main.js?v=0.1.6"></script>
</body>
</html>